.contenedor__principal__banner{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: calc(100vh + 100px);
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
    min-height: 100vh;
    position: relative;
    display: flex;
}
    .banner__nombre__organizacion{
        display: flex;
        flex-direction: column;
        font-family: 'Alfa Slab One', sans-serif;
        font-size: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
        height: 80vh;
        justify-content: space-evenly;
        min-height: 100vh;
        padding: 10px 10% 10px;
        position: absolute;
        width: auto;
    }
        .text-typing h1{
            font-family: 'Montserrat', sans-serif;
            color: #FFFFFF;
            width: 390px;
            animation: typing 1.5s steps(20),blink .5s infinite alternate;
            white-space: nowrap;
            overflow: hidden;
            border-right: 5px solid;
            font-size: clamp(2.44rem, 2.38vw + 1.58rem, 3.75rem);
            position: absolute;
            display: flex;
        }
        @keyframes typing{
            from{
                width: 0;
            }
        }
        @keyframes blink{
            50%{
                border-color: #FE3C00;
            }
        }

        #nombre-Principal{
            color: #FFFFFF;
            -webkit-text-stroke: 0.5px #FE3C00;
        }
        #apellido-principal{
            color: #FE3C00;
            -webkit-text-stroke: 0.5px black;
        }   
        #apellido-secundario{
            color: gainsboro;
            font-family: 'Montserrat', sans-serif;
            font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
        }
    .scroll{
        bottom: 12.5%;
        display: flex;
        width: 100%;
        justify-content: center;
        position: absolute;
    }
    .scroll__desplazamiento img{
        width: 85px;
        position: relative;
        top: -25px;
    }
    .logo-banner{
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        animation: difuminar 5s;
        width:  calc(45% - 1rem);
        place-items: center;
    }
        @keyframes difuminar {
            from {opacity: 0}
            to {opacity: 1}
        }
        .img-logo-banner{
            width: 70%;
            height: auto;
        }

@media screen and (max-width: 480px){
    .contenedor__principal__banner{
        background-attachment: fixed;
        background-size: 450%;
    }
    .nombre-organizacion{
        justify-content: space-evenly;
    }
    .text-typing h1{
        width: 270px;
    }
    .logo-banner{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .img-logo-banner{
        width: 40%;
    }
}