.contenedor-nosotros{
    display: flex;
    flex-direction: column;
    padding: 125px 10% 0px 10%;
    background-image: radial-gradient(circle at 67.22% 53.04%, #f8fffb 0, #ecefec 25%, #dcdadc 50%, #ccc5cd 75%, #bdb4c1 100%);
    height: calc(90vh);
    clip-path: polygon(0% 75px, 100% 0px, 100% 100%, 0% 100%);
    margin-top: -90px;
}
    .titulo__nosotros__contenedor{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
        .titulo__principal__1-1{
            font-family: 'Raleway', sans-serif;
            font-size: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem); 
            text-transform: uppercase;
            letter-spacing: 10px;
            font-weight: bold;
        }
        .titulo__principal__1-2{
            text-transform: uppercase;
            font-size: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
            letter-spacing: 2px;
            color: #FE3C00;
            font-weight: 900;
        }
        .elemento-divisor{
            border-bottom: #FE3C00;
            border-radius: 3px;
            border-style: solid;
            left: -70px;
            padding-top: 15px;
            position: relative;
            width: 270px;
        }
    .nosotros{
        display: flex;
        padding-top: 50px;
        width: 100%;
    }
        .nosotros__descripcion{
            line-height: 180%;
            width: 100%;
            max-width: 60%;
            display: flex;
            flex-direction: column;
            padding: 50px 5%;
            text-align: justify;
            font-weight: lighter;
            font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);  
        }
        .nosotros__imagen{
            width: 100%;
        }

@media screen and (max-width: 800px){
    .nosotros {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .nosotros__descripcion{
        max-width: 100%;
    }
    .nosotros__imagen{
        width: 100%;
        position: relative;
        top: -500px;
        opacity: 20%;
    }
}