body{
    font-family: 'Montserrat', sans-serif;
}
.banner{
    background-image: url(banner1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;    
    height: 100vh;
    min-height: 100vh;
    position: relative;
    color: whitesmoke;
}
    .mouse {
        display: flex;
        width: 25px;
        height: 50px;
        border: 2.5px solid #FE3C00;
        border-radius: 20px;
        margin: 0 50% 0px 50%;
        position: absolute;
        bottom: 80px;
    }
    .mouse-wheel{
        display: block;
        width: 15px;
        height: 15px;
        background-color: #fff;
        border-radius: 90%;
        margin: auto;
        animation: mov-wheel 1s linear infinite;
    }
    @keyframes mov-wheel{
        0%{
            opacity: 0;
            transform: translateY(-5rem);
        }
        100%{
            opacity: 1;
            transform: translateY(1rem);
        }
    }
    .text-typing h1{
        width: 320px;
        animation: typing 1.5s steps(20),blink .5s infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-size: 2.5rem;
        position: absolute;       
        top: 100px;
        left: 10%;
    }
    @keyframes typing{
        from{
            width: 0;
        }
    }
    @keyframes blink{
        50%{
            border-color: red;
        }
    }
    .nombre-organizacion{
        display: flex;
        flex-direction: column;
        left: 10%;
        top: 350px;
        position: absolute;
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 5.5vw;
    }
        #nombre-Principal{
            color: whitesmoke;
            -webkit-text-stroke: 0.5px #FE3C00;
        }
        #apellido-principal{
            color: #FE3C00;
            -webkit-text-stroke: 0.5px black;
        }
        #apellido-secundario{
            left: 10%;
            bottom: 200px;
            position: absolute;
            font-size: 2.0vw;
        }
    /*=========================================================*/
    @media screen and (max-width: 480px){
        .text-typing h1{
            width: 220px;
            animation: typing 1.5s steps(13),blink .5s infinite alternate;
            font-size: 2rem;
        }
        .nombre-organizacion{
            font-size: 13vw;
        }
        #apellido-secundario{
            font-size: 5vw;
        }
    }