body{
    font-family: 'Montserrat', sans-serif;
}
.banner{
    background-image: url(banner1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 100vh;
    min-height: 100vh;
    position: relative;
}
    .mouse {
        display: flex;
        width: 25px;
        height: 50px;
        border: 2.5px solid #FE3C00;
        border-radius: 20px;
        margin: 0 50% 50px 50%;
        position: absolute;
        bottom: 0;
    }
    .mouse-wheel{
        display: block;
        width: 15px;
        height: 15px;
        background-color: #fff;
        border-radius: 90%;
        margin: auto;
        animation: mov-wheel 1s linear infinite;
    }
    @keyframes mov-wheel{
        0%{
            opacity: 0;
            transform: translateY(-5rem);
        }
        100%{
            opacity: 1;
            transform: translateY(1rem);
        }
    }
    .text-typing h1{
        width: 200px;
        animation: typing 2s steps(13),blink .5s infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-size: 2rem;
        
        margin: 0;
        position: absolute;

        left: 10%;
        bottom: 700px;
    }
    @keyframes typing{
        from{
            width: 0;
        }
    }
    @keyframes blink{
        50%{
            border-color: red;
        }
    }
    .titulo-presentacion{
        display: flex;
        flex-direction: column;
        left: 10%;
        bottom: 450px;
        position: absolute;
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 4rem;
    }
        #Nombre-Principal{
            color: whitesmoke;
            -webkit-text-stroke: 0.5px #FE3C00;
        }
        #apellido-principal{
            color: #FE3C00;
            -webkit-text-stroke: 0.5px black;
        }
        #apellido-secundario{
            left: 10%;
            bottom: 200px;
            position: absolute;
        }
header{
    background-color: #252E38;
    border-bottom:1px solid #FE3C00;
    box-shadow: 1px 1px 5px 4px #FE3C00;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    opacity: 0%;
}
    .contenedor-cabecera{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 980px;
        height: auto;
        margin: 0 auto;
    }
    .contenedor-logotipo{
        display: flex;
        align-items: center;
    }
    .img-logo{
        width: 110px;
    }
    .titulo{
        font-family: 'Alfa Slab One', sans-serif;
        padding: 0 10px;
        text-align: center;
        font-size: 1.35rem;
        text-shadow: 1px 1px 4px #FE3C00;
    }
    .item-navegacion a{
        text-transform: uppercase;
        color: gray; 
        font-size: 1.0rem;
        text-decoration: none;
        margin: 5px;
    }
    .item-navegacion{
        display: inline-block;
        position: relative;
    }
    .item-navegacion::after{
        content: "";
        width: 100%;
        height: 2.5px;
        background-color: #FE3C00;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease-in-out;
        margin-top: -5px;        
    }
    .item-navegacion:hover::after{
        transform: scaleX(1); 
    }
    /*=========================================================*/
    .contenedor-vacio-banner{
        width: auto;
        height: 100vh;
        padding: 5%;
    }
    .contenedor-principal{
        width: 100%;
        height: 100%;
        background-color: gray;
    }
    @media screen and (max-width: 480px) {
        .titulo-presentacion{
            left: 5%;
            font-size: 3.5rem;
        }
    }