body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(banner1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    align-content: center;
}
/*=======================================================================================*/
header{
    background-color: #252E38;
    border-bottom:1px solid #FE3C00;
    box-shadow: 1px 1px 5px 4px #FE3C00;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}
    .contenedor-cabecera{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 980px;
        height: auto;
        margin: 0 auto;
    }
    .contenedor-logotipo{
        display: flex;
        align-items: center;
    }
    .img-logo{
        width: 110px;
    }
    .titulo{
        font-family: 'Alfa Slab One', sans-serif;
        padding: 0 10px;
        text-align: center;
        font-size: 1.35rem;
        text-shadow: 1px 1px 4px #FE3C00;
    }
    .item-navegacion a{
        text-transform: uppercase;
        color: gray; 
        font-size: 1.0rem;
        text-decoration: none;
        margin: 5px;
    }
    .item-navegacion{
        display: inline-block;
        position: relative;
    }
    .item-navegacion::after{
        content: "";
        width: 100%;
        height: 2.5px;
        background-color: #FE3C00;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease-in-out;
        margin-top: -5px;        
    }
    .item-navegacion:hover::after{
        transform: scaleX(1); 
    }
/*=======================================================================================*/
.contenedor-vacio-banner{
    width: 100%;
    height: 90vh;
}
    .mouse{
        display: flex;
        width: 25px;
        height: 50px;
        border: 2.5px solid #FE3C00;
        border-radius: 20px;
        margin-left: 50%;
        margin-right: 50%;
        margin-bottom: 150px;
        margin: 0 50% 50px 50%;
    }
    .mouse-wheel{
        display: block;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        margin: auto;
        animation: mov-wheel 1s linear infinite;
    }
    @keyframes mov-wheel{
        0%{
            opacity: 0;
            transform: translateY(-1rem);
        }
        100%{
            opacity: 1;
            transform: translateY(1rem);
        }
    }
.contenedor-principal{
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: gray;
}

